footer .columns {
	border-top: 0.5rem solid #eee;
	padding: 3rem 0;
	text-align: center;
}

footer h5 {
	font-weight: $font-bold; 
	color: $primary-color;
}

footer p {
	font-size: 1.4rem;
}

footer .ten.columns { 
	width: 100%; 
}

footer .offset-by-one.column,
footer .offset-by-one.columns { 
	margin-left: 0;
}


@media (#{$bp-larger-than-tablet-hd}) {
	
	footer .ten.columns { 
		width: grid-column-width(10);
	}

	footer .offset-by-one.column,
	footer .offset-by-one.columns { 
		margin-left: grid-offset-length(1);
	}
	
	
}
