.directory {
	background-color: #fc0;
	padding: 2rem 0;
}

.directory h1 {
	color: $brand-color;
	font-weight: $font-bold;
	padding: 0 0 2rem 0;
	margin: 0;
}

@media (#{$bp-larger-than-phablet}) {

	.directory {
		padding: 3rem 0;
	}

	.directory h1 {
		padding: 0 0 3rem 0;
	}
	
}

@media (#{$bp-larger-than-tablet}) {

	.directory {
		padding: 4rem 0;
	}

	.directory h1 {
		padding: 0 0 4rem 0;
	}
	
}

.directory-link {
	@include flexbox();
	align-items: center;
	min-height: 15rem;
	justify-content: center;
	color: #fff;
	text-decoration: none;
}

@media (#{$bp-larger-than-phablet}) {
	.directory-link {
		min-height: 14rem;
	}
}

@media (#{$bp-larger-than-tablet}) {
	.directory-link {
		min-height: 16rem;
	}
}

@media (#{$bp-larger-than-tablet-hd}) {
	.directory-link {
		min-height: 24rem;
	}
}

.directory-link.staffing {
	background-color: #444;
	&:hover {
		color: #fcc;
		background-color:blue;
    }
}

.directory-link.construction {
	background-color: #ddd;
	&:hover {
		color: #fcc;
		background-color:aqua;
    }
}

.directory-link.cleaning {
	background-color: #345;
	&:hover {
		color: #fcc;
		background-color:orange;
    }
}

.directory-link h3 {
	margin: 0 1rem;
	text-align: center;
	font-size: 3rem; 
}

@media (#{$bp-larger-than-phablet}) {
		
	.directory-link h3 { 
		font-size: 2.25rem; 
		letter-spacing: -0.05rem;
	}
}

@media (#{$bp-larger-than-tablet}) {
		
	.directory-link h3 { 
		font-size: 2.5rem; 
	}
}

@media (#{$bp-larger-than-tablet-hd}) {
		
	.directory-link h3 { 
		font-size: 3rem; 
	}
}

.overview {
	padding: 3rem 0 5rem 0;
	text-align: center;
	min-height: 15rem;
}