header {
	position: relative;
}


@media (#{$bp-larger-than-tablet}) {
	
	header {
		background: #eee;
		padding: 0;
		height: auto;
	}
	
}


.connect-bar {
    width: 100%;
 	box-sizing: border-box;
	background-color: $brand-color;
	text-align: center;
}

.connect-bar a {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-weight: $font-bold;
	font-size: 1.5rem;
	text-decoration: none;
	min-height: 4rem;
	 margin: 0 0.5rem 0 2rem;
}

@media (#{$bp-larger-than-phablet}) {
	
	.connect-bar a {
		font-size: 1.75rem;
	}
	
	.connect-bar a:hover {
		opacity: 0.5;
	}
	
}

.connect-bar a:first-child {
	 margin-left: 0;
}

.connect-bar a .icon {
	display: inline-block;
	height: 2.5rem;
	width: 2.5rem;
	margin-right: 0.5rem;
}

.connect-bar a .facebook {
	display: none;
}

.connect-bar a .linkedin {
	display: none;
}

@media (#{$bp-larger-than-phablet}) {
	
	.connect-bar a .facebook {
		display: inline-block;
	}
	
	.connect-bar a .linkedin {
		display: inline-block;
	}

}

.nav-outer-wrap {
	position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
	padding: 0;
    box-sizing: border-box;
}

.nav-outer-wrap:after {
	content: "";
	display: table;
	clear: both;
}

@media (#{$bp-larger-than-tablet-hd}) {
	
	.nav-outer-wrap {
		padding: 2rem 0;
		width: 80%;
	}
}

.nav-inner-wrap {
	width: 100%;
    position: relative;
    display: block;
    height: 6rem;
    margin: 0 auto;
    background-color: #000;
}

@media (#{$bp-larger-than-tablet}) {
	
	.nav-inner-wrap {
		background-color: transparent;
		height: auto;
	}
	
}

@media (#{$bp-larger-than-tablet-hd}) {
	
	.nav-inner-wrap {
		width: 100%;
		height: 7.5rem;
		padding: 0;
		margin: 0
	}
	
}

.navigation {
	width: 100%;
    position: relative;
    display: block;
    height: 6rem;
    margin: 0 auto;
}

@media (#{$bp-larger-than-tablet}) {
	
	.navigation {
		height: auto;
		width: 85%;
	}
	
}

@media (#{$bp-larger-than-tablet-hd}) {
	
	.navigation {
		width: 100%;
		height: 7.5rem;
		padding: 0;
		margin: 0
	}
	
}

// so logo goes under mobile nav
.brand {
    float: left;
    width: 100%;
	margin: 7rem 0 0 0;
}


@media (#{$bp-larger-than-tablet}) {

	.brand {
		margin: 0;
		display: block;
		float: none;
		width: auto
	}
	
}


.logo {
    background-color: #808080;
    height: 7.5rem;
    width: 15rem;
    position: relative;
    display: block;
    margin: 0 auto;
}

@media (#{$bp-larger-than-tablet}) {

	.logo {
	    position: relative;
	    display: block;
	    margin: 0;
	}

}

nav ul {
	display: none;
	padding-bottom: 1.5rem;
	background-color: #000;
	right: 0;
	left: 0;
	top: 6rem;
	font-size: 2rem;
}

@media (#{$bp-larger-than-mobile}) {
	
	nav ul {
		right: 0;
		left: 0;
	}
	
}

@media (#{$bp-larger-than-tablet}) {
	
	nav ul {
		display: inline-block;
	  	float: right;
	  	margin: 2.1rem 0 0 0;
	  	list-style: none;
	  	background-color: transparent;
		font-size: 1.7rem;
	}
	
}

@media (#{$bp-larger-than-tablet-hd}) {
	
	nav ul {
		font-size: 2rem;
	}

}

nav ul li {
	display: block;
	float: none;
	width: 85%;
	text-align: left;
	margin: 0 0 0 7.5%;
	text-indent: 0;
	padding: 15px 0 0 0;
}

@media (#{$bp-larger-than-tablet}) {
	
	nav ul li {
		display: inline;
	  	text-align: left;
		line-height: 1;
		margin: 0 0 0 15px;
		background-color: transparent;
		text-indent: 0;
		width: auto;
		padding: 0;
	}

	nav ul li:hover {
		  cursor: pointer;
		  position: relative;
	}
}	

nav ul li a {
	color: #fff;
	display: block;
	text-decoration: none;
}

@media (#{$bp-larger-than-tablet}) {
	
	nav ul li a {
		display: inline;
		color: #888;
	}

}

nav ul li a.active {
	color: $brand-color;
}


nav ul li:last-child a {
	display: none;
}

nav ul li:last-child a:last-child {
	display: none;
}

@media (#{$bp-larger-than-tablet}) {

	nav ul li:last-child a {
		display: inline-block;
		color: #bbb;
		background-color: #666;
		border-radius: 6px;	
		font-weight: $font-bold;	
		padding: 0.3125rem 0.5rem;
		&:hover {
			background-color: #ccc;
	    }
	}

	nav ul li:last-child a:last-child {
		display: inline-block;
		margin-left: 1rem;
	}
	
}

nav ul li:last-child a.active {
	background-color: $brand-color;
	color: #fff;
	&:hover {
		background-color: #9dd29c;
    }
}
	
nav label {
	position: absolute;
	top: 1rem;
	left: 7.5%;
	display: block;
	background: #555;
	width: 4rem;
	height: 4rem;
	cursor: pointer;
}

nav label:after{
	content:'';
	display: inline-block;
	width: 30px;
	height: 5px;
	background: #ddd;
	margin: 7px 5px;
	box-shadow: 0px 10px 0px #ddd, 0px 20px 0px #ddd;
}


@media (#{$bp-larger-than-mobile}) {
	
	nav label {
		margin-left: 0;
	}

}

.mobile-language-wrap {
	display: inline;
	height: 40px;
	position: absolute;
	right: 7.5%;
	top: 10px;
}	
	
@media (#{$bp-larger-than-tablet}) {
	
	.mobile-language-wrap {
		display: none;
	}
	
}

.eng-mobile,
.esp-mobile {
	display: inline-block;
	color: #fff;
	background-color: #666;
	border-radius: 6px;	
	font-size: 2rem;
	font-weight: $font-bold;	
	padding: 0.3125rem 0.75rem;
	cursor: pointer;
	margin-left: 1rem;
	text-decoration: none;
	background-color: #666;
	&:hover {
		color: #fff;
    }
}

.eng-mobile.active,
.esp-mobile.active {
	background-color: $brand-color;
}

@media (#{$bp-larger-than-tablet}) {
	
	nav label {
		display: none;
	}
	
}

nav [type="checkbox"] {
	display: none;
}

@media (#{$bp-larger-than-tablet}) {
	
	nav [type="checkbox"] {
		display: none;
	}
		
}

[type="checkbox"]:checked ~ ul {
	display: block;
	z-index: 9999;
	position: absolute;
}



