header {
	position: relative;
}


@media (#{$bp-larger-than-tablet}) {
	
	header {
		background: #eee;
		padding: 20px 0;
		height: auto;
	}
	
}

.xyz {
	width: 100%;
    position: relative;
    display: block;
    height: 6rem;
    margin: 0 auto;
}

@media (#{$bp-larger-than-tablet}) {
	.xyz {
		height: auto;
	}
}

@media (#{$bp-larger-than-tablet-hd}) {
	.xyz {
		width: 100%;
		height: 7.5rem;
		padding: 0;
		margin: 0
	}
}


.abcd {
	width: 100%;
    position: relative;
    display: block;
    height: 6rem;
    margin: 0 auto;
}

@media (#{$bp-larger-than-tablet}) {
	
	.abcd {
		height: auto;
		width: 85%;

	}
	
}

@media (#{$bp-larger-than-tablet-hd}) {
	
	.abcd {
		width: 100%;
		height: 7.5rem;
		padding: 0;
		margin: 0
	}
	
}



.menu {
	position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
	padding: 0;
    box-sizing: border-box;
    background-color: aquamarine;
}

@media (#{$bp-larger-than-tablet-hd}) {
	.menu {
		padding: 0;
		width: 80%;
	}
}

.logo-wrap {
    float: left;
    width: 100%;
	margin: 6rem 0 0 0;
}


@media (#{$bp-larger-than-tablet}) {

	.logo-wrap {
		margin: 0;
		display: block;
		float: none;
		width: auto
	}
	
}


.logo {
    background-color: #808080;
    height: 7.5rem;
    width: 15rem;
    position: relative;
    display: block;
    margin: 0 auto;
}

@media (#{$bp-larger-than-tablet}) {

	.logo {
	    position: relative;
	    display: block;
	    margin: 0;
	}

}

nav ul {
	display: none;
	padding-bottom: 1.5rem;
	background-color: #eee;
	right: 0;
	left: 0;
	top: 6rem;
	font-size: 2rem;
}

@media (#{$bp-larger-than-mobile}) {
	
	nav ul {
		right: 0;
		left: 0;
	}
	
}

@media (#{$bp-larger-than-tablet}) {
	
	nav ul {
		display: inline-block;
	  	float: right;
	  	margin: 2.1rem 0 0 0;
	  	list-style: none;
	  	background-color: transparent;
		font-size: 1.7rem;
	}
	
}

@media (#{$bp-larger-than-tablet-hd}) {
	
	nav ul {
		font-size: 2rem;
	}

}

nav ul li {
	display: block;
	float: none;
	width: 85%;
	text-align: left;
	margin: 0 0 0 7.5%;
	text-indent: 0;
	padding: 15px 0 0 0;
}

@media (#{$bp-larger-than-tablet}) {
	
	nav ul li {
		display: inline;
	  	text-align: left;
		line-height: 1;
		margin: 0 0 0 15px;
		background-color: transparent;
		text-indent: 0;
		width: auto;
		padding: 0;
	}

	nav ul li:hover {
		  cursor: pointer;
		  position: relative;
	}
}	

nav ul li a {
	color: #000;
	display: block;
	text-decoration: none;
}

@media (#{$bp-larger-than-tablet}) {
	
	nav ul li a {
		display: inline;
		color: #888;
	}

}

nav ul li a.active {
	color: $brand-color;
}


nav ul li:last-child a {
	display: none;
}

nav ul li:last-child a:last-child {
	display: none;
}

@media (#{$bp-larger-than-tablet}) {

	nav ul li:last-child a {
		display: inline-block;
		color: #bbb;
		background-color: #666;
		border-radius: 6px;	
		font-weight: $font-bold;	
		padding: 0.3125rem 0.5rem;
		&:hover {
			background-color: #ccc;
	    }
	}

	nav ul li:last-child a:last-child {
		display: inline-block;
		margin-left: 1rem;
	}
	
}

nav ul li:last-child a.active {
	background-color: #f00;
	color: #fff;
	&:hover {
		background-color: #fcc;
    }
}
	
.mobile-wrap {
	display: inline;
	height: 40px;
	position: absolute;
	right: 7.5%;
	top: 10px;
}	
	
nav label {
	position: absolute;
	top: 1rem;
	left: 7.5%;
	display: block;
	background: #eee;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

nav label:after{
	content:'';
	display: inline-block;
	width: 30px;
	height: 5px;
	background: #777;
	margin: 7px 5px;
	box-shadow: 0px 10px 0px #777, 0px 20px 0px #777
}


@media (#{$bp-larger-than-mobile}) {
	
	nav label {
		margin-left: 0;
	}

}

.eng-mobile,
.esp-mobile {
	display: inline-block;
	color: #fff;
	background-color: #666;
	border-radius: 6px;	
	font-size: 2rem;
	font-weight: $font-bold;	
	padding: 0.3125rem 0.75rem;
	cursor: pointer;
	margin-left: 1rem;
	text-decoration: none;
	&:hover {
		color: #fff;
    }
}

.eng-mobile {
	background-color: #666;
}

.esp-mobile {
	background-color: #f00;
}

@media (#{$bp-larger-than-tablet}) {
	
	.eng-mobile,
	.esp-mobile {
		display: none;
	}
	
	
}

@media (#{$bp-larger-than-tablet}) {
	
	nav label {
		display: none;
	}
	
}

nav [type="checkbox"] {
	display: none;
}

@media (#{$bp-larger-than-tablet}) {
	
	nav [type="checkbox"] {
		display: none;
	}
		
}

[type="checkbox"]:checked ~ ul {
	display: block;
	z-index: 9999;
	position: absolute;
}



