.interior h6 {
	padding-bottom: 0.5rem;
	border-bottom: 1px solid #ddd;
}

.interior .subhead-bold {
	font-weight: $font-bold;
	margin-bottom: 0;
}

.interior .subhead-italic {
	font-style: italic;
	margin-bottom: 1rem;
}

.interior .one-third.column { 
	width: 100%; 
}

.interior .two-thirds.column { 
	width: 100%; 
}

.interior .one-half.column { 
	width: 100%; 
}

.interior .ten.columns { 
	width: 100%; 
}

.interior .offset-by-one.column,
.interior .offset-by-one.columns { 
	margin-left: 0;
}


@media (#{$bp-larger-than-phablet}) {
	
	.interior .one-third.column { 
		width: grid-column-width(4);
	}

	.interior .two-thirds.column { 
		width: grid-column-width(8);
	}
	
	.interior .one-half.column { 
		width: grid-column-width(6);
	}

}

@media (#{$bp-larger-than-tablet-hd}) {
	
	.interior .ten.columns { 
		width: grid-column-width(10);
	}

	.interior .offset-by-one.column,
	.interior .offset-by-one.columns { 
		margin-left: grid-offset-length(1);
	}
	
	
}

.shaded {
	background-color: $background-highlight;
}

.sidebar.shaded {
	padding: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	margin-left: 0;
	 
}

@media (#{$bp-larger-than-phablet}) {
	
	.sidebar.shaded { 
		margin-top: 0;
		margin-left: 4%; 
	}
	
}

.sidebar h4 {
	margin-bottom: 0;
}

.sidebar p  { 
	font-size: 1.7rem; 
}
	
@media (#{$bp-larger-than-phablet}) {
	
	.sidebar p  { 
		font-size: 1.6rem; 
		line-height: 1.7;  
	}
	
}	

.sidebar .headshot {
	width: 100%;
	height: auto;
	float: left;
	margin: 0.5rem 1.25rem 0 0;
	display: inline-block;
}

@media (#{$bp-larger-than-mobile}) {
	
	.sidebar .headshot  { 
		width: 40%;
	}
	
}	

@media (#{$bp-larger-than-tablet-hd}) {
	
	.sidebar .headshot  { 
		width: 50%;
	}
	
}

.type-color {
	color: $primary-color;
}

.type-bold-color {
	font-weight: $font-bold;
	color: $primary-color;
}

.services .column  { 
	padding: 1.5rem; 
	margin-bottom: 2rem;
	min-height: 100px; 
}

.services a {
	text-decoration: none;
}

.services a span {
	font-size: 2.5rem; 
	line-height: 1.1;  
	letter-spacing: -.10rem;
	font-weight: $font-bold;
	display: block;
	padding-top: 2rem;
	padding-bottom: 2rem;
	color: #000;
}

.services a img  { 
	display: none; 
}

@media (#{$bp-larger-than-phablet}) {
	
	.services .column  { 
		min-height: 23em; 
	}
	
	.services a img  { 
		display: block; 
	}
	
	.services a span  { 
		font-size: 2rem; 
	}
	
}	

@media (#{$bp-larger-than-tablet}) {
	
	.services .column  { 
		min-height: 24em; 
	}
	
}

@media (#{$bp-larger-than-tablet-hd}) {
	
	.services .column  { 
		min-height: 25em; 
	}
	
}