.offsite .logo {
    height: 3.750em;
    width: 12.500em;
    position: relative;
    display: block;
    margin: 4rem auto;
}


.offsite h3 {
	color: $primary-color;
	font-weight: $font-bold;
	padding-bottom: 1rem;
	border-bottom: 1px solid #ddd;
}

