section {
	padding: 2rem 0;
}

@media (#{$bp-larger-than-tablet}) {

	section {
		padding: 4rem 0;
	}

}

section h1 {
	color: $primary-color;
	font-weight: $font-bold;
	padding: 0 0 2rem 0;
	margin: 0;
}

section h6 {
	font-weight: $font-bold;
	color: $dark-grey;
}

.working-tag {
	color: $primary-color;
	font-weight: $font-bold;
	font-style: italic;
}