.home-link {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	min-height: 15em;
	justify-content: center;
}

.home-link p {
	margin: 0 2rem;
	text-align: center;
}

.service-links {
	background-color: #fc0;
	padding: 4rem 0;
}

.overview {
	padding: 3rem 0 5rem 0;
	text-align: center;
	min-height: 15rem;
}