/*!  v0.0.1 | http://datchung.com/css-responsive-menu/ | Licensed MIT | Built Sun Jan 25 2015 00:20:11 */



header {
	background-color: transparent;
}

nav {
	padding: 1rem;
}

nav .button {
	margin-bottom: 0;
}

nav ul.navigation-list {
	background-color: #eee;
	border-radius: 4px;
	margin: 0;
}

nav ul.navigation-list li {
	padding-right: 0;
	margin-bottom: 10px;
}

nav ul.navigation-list li:last-child {
	margin-bottom: 0;
}

nav ul.navigation-list li a {
	text-decoration: none;
}



@media ($bp-larger-than-phablet) {
	
	header {
	    background-color: #eee;
	}

	nav {
		background-color: #eee;
		padding: 1.5rem 0;
	}

	.nav ul.navigation-list {
		padding-left: 0;
		padding-right: 0;
		margin: 0;
	}

	nav ul.navigation-list li {
		padding-right: 15px;
	}
	
}



/* core styles for responsive menu 
------------------------------------------------------------------------ */

nav .expand-control {
	display: inline-block;
	cursor: pointer;
}

nav input[type="checkbox"] {
    display: none;
}

nav input[type="checkbox"].expand-control:checked + ul.navigation-list {
    display: block;
}

nav ul.navigation-list {
	display: none;
}

nav ul.navigation-list li {
	display: block;
}



@media ($bp-larger-than-phablet) {
		
	nav label.expand-control {
		display: none;
	}
	
	nav input[type="checkbox"].expand-control {
		display: none;
	}
	
	nav ul.navigation-list {
		display: block;
		list-style: none;
	}
	
	nav ul.navigation-list li {
		display: inline;
	}

	nav ul.navigation-list li:nth-child(n+5) {
		font-weight: bold;
		float: right;
	}
	
	
  
}
